@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  background-color: rgb(24 24 27);
  color: white;
}

html,body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.slider {
  --items: 2;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 300ms ease-in-out
}

.card {
  flex: 0 0 calc(100% / var(--items));
  max-width: calc(100% / var(--items));
}

.zoomIn {
  animation: zoomInAnimation .5s ease-in-out .2s 1 normal forwards;
}

@keyframes zoomInAnimation {
	0% {
    visibility: visible;
		transform:scale(0.5);
	}

	100% {
    visibility: visible;
		transform: translateY(-50%) translateX(3%) scale(1.1);
	}
}

@layer components {
  /* Search component */
  .show-search {
    @apply border border-white border-solid bg-[rgba(0,0,0,0.6)];
  }
  .show-search-bar {
    @apply visible opacity-100 w-full !important
  }
  .search-bar {
    @apply w-0 opacity-0 invisible bg-transparent transition duration-300
    ease-in-out border-none focus:outline-none;
  }
  /* Form buttons component */
  .form-button {
    @apply py-2 px-4 bg-[#e50914] border-none cursor-pointer font-bold text-xs md:text-sm;
  }
  /* Home billboard buttons component */
  .billboard-buttons {
    @apply flex justify-center items-center text-lg font-semibold md:text-2xl gap-4 rounded-md
  bg-white py-2 px-6 transition duration-300 first-of-type:text-black ease-in-out 
  hover:first-of-type:bg-gray-300 hover:last-of-type:bg-[rgba(88,88,88,0.75)] last-of-type:bg-[rgba(109,109,110,0.75)]
  }
  /* Card buttons */
  .card-buttons {
    @apply cursor-pointer w-7 h-7 lg:w-8 lg:h-8 2xl:w-10 2xl:h-10 border-2 border-gray-400
    rounded-full flex justify-center items-center hover:border-white transition-all duration-300 
    hover:bg-white/5
  }
  /* Slider actions */
  .slider-action {
    @apply absolute z-50 h-full top-0 bottom-0 w-12 transition duration-300 ease-in-out
  }
}

/* Scroll visibility */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Slider items shown on screen change */
@media (min-width:640px) {
  .slider {
    --items: 3
  }
}

@media (min-width:768px) {
  .slider {
    --items: 4
  }
}

@media (min-width:1280px) {
  .slider {
    --items: 6
  }
}