@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  background-color: rgb(24 24 27);
  color: white;
}

html,body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

/* Form buttons component */
@layer components {
  .form-button {
    @apply py-2 px-4 bg-[#e50914] border-none cursor-pointer font-bold text-xs md:text-sm;
  }
}
/* Search component */
@layer components {
  .show-search {
    @apply border border-white border-solid bg-[rgba(0,0,0,0.6)];
  }
  .show-search-bar {
    @apply visible opacity-100 w-full !important
  }
  .search-bar {
    @apply w-0 opacity-0 invisible bg-transparent transition duration-300
    ease-in-out border-none focus:outline-none;
  }
}

/* Home teaser buttons component */
@layer components {
  .teaser-buttons {
    @apply flex justify-center items-center text-lg md:text-2xl gap-4 rounded-md
  bg-white py-2 px-6 transition duration-300 first-of-type:text-black
    ease-in-out hover:opacity-80 last-of-type:bg-[rgba(109,109,110,0.7)]
  }
}

/* Card buttons */
@layer components {
  .card-buttons {
    @apply text-lg lg:text-2xl transition duration-300 ease-in-out hover:text-[#b8b8b8]
  }
}

/* Slider actions */
@layer components {
  .slider-action {
    @apply absolute z-50 h-full top-0 bottom-0 w-12 transition duration-300 ease-in-out
    text-4xl
  }
}

/* Scroll visibility */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}